<!DOCTYPE html>
<html>
<head>
	<title>Regex</title>
</head>
<script type="text/javascript" src="Validation.js">
</script>

<body>

	<form name = "regex" onsubmit=" return validation()">
		<label for="fname">User Name</label><br>
		<input type="text" id="fname" name="fname"><span id="i1"></span><br>
		<label for="email">Email ID</label><br>
		<input type="text" id="email" name="email"><span id="i2"></span><br>
		<label for="mobile">Mobile</label><br>
		<input type="text" id="mobile" name="mobile"><span id="i3"></span><br>
  Course:-<select name="course">
		  <option value="ICT">ICT</option>
		  <option value="CE">CE</option>
		  <option value="IT">IT</option>
		</select> 
		<br><br>
		<input type="submit" name="Submit" value="Submit">
		<br><br>
		<p id="demo"></p>
	</form>
</body>
</html>