<!DOCTYPE html>
<html>
<head>
	<title>IoT Dustbin Admin Side</title>
	<style>
	.card {
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	width: 50%;
  	height: 30%;
  	border-radius: 5p;
  	background-color:pink;
  	left: 50px;
  	top: 150px;
	}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}
</style>
</head>
<body>
	<div class="card">
        <div class="container">
	Dustbin ID:<input type="text" name="IDno" style="border:2px solid black; text-align: center; position: relative;">
	<br><br>
	Area:<input type="textarea" name="area" id="area" style="border:2px solid black;text-align: center; position: relative; left: 40px;">
	<br><br>
	<input type="button" name="history" id="history" value="History" style="margin-left: 80px" onclick="window.location.href='History_Dustbin.html';">
	</div>
  </div>
</body>
</html>